body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container-fluid {
    padding: 0;
}
.navbar-collapse {
    flex-grow: unset;
}
.navbar-brand img {
    width: 70%;
}
.navbar{
    padding-top: 2.5rem;
}
.navbar-nav {
    font-size: 18px;
    font-weight: 500;
}
.car {
    background-image: url('bg-2.png');
    background-repeat: no-repeat;
    background-position: -30px bottom;
    background-size: 11%;
}
h2{
    color: #1F1F1F;
    font-weight: 500;
}
p{
    font-weight: 300;
    color: #707070;
}
.car p {
    margin-top: 15px;
    margin-right: 10px;
}
.btn {
    color: white;
    background-color: black;
    font-weight: 500;
    border-radius: .5rem;
    padding: .6rem 1.6rem;
}
.car .btn {
    margin-top: 20px;
}
.car img {
    width: 95%;
    float: right;
}
.car .bg {
    background-image: url('bg-1.png');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left center;
}
.carousel-indicators{
    bottom: -35px;
    margin: 0;
}
.carousel-indicators [data-bs-target] {
    background-color: #CECECE;
    height: 12px;
    width: 16px;
    border-radius: 6px;
    border-top: none;
    border-bottom: none;
}
.carousel-indicators .active {
    background-image: linear-gradient(135deg, #FF9C35, #FFD019);
    width: 45px;
}
.con {
    margin-bottom: 100px;
}
.card {
    border: none;
    border-radius: 21px;
    box-shadow: 0 0 44px #0000001a;
    padding: 55px 18px;
}
.card h2,
.row-top h2 {
    font-size: 24px;
}
.card-img-top {
    width: 70%;
}
.row-top {
    margin-bottom: 20px;
}
.row-top a {
    text-decoration: none;
    color: #FF9D00;
    font-size: 1rem;
}
.card-footer{
    background: none;
    border: none;
}
footer h2 {
    font-size: 35px;
}
.box{
    width: 135px;
    height: 10px;
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    border-radius: 15px;
}
footer h3{
    font-size: 24px;
    font-weight: 500;
    color: #050505;
    margin-top: 35px;
}
footer #margin {
    margin-top: 0;
}
.bor {
    box-shadow: 0 0 50px #DDD;
    padding: 55px 50px 25px;
    margin: 20px 0;
}
.bor-1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
}
.bor-2 {
    border-top-right-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 30px;
}
.margin{
    margin: 50px 0;
}
@media only screen and (max-width: 767px) {
    .car {
        background-image: none;
    }
    .car .bg {
        background-position: 10px center;
    }
    .carousel-indicators [data-bs-target] {
        height: 7px;
    }
    .btn {
        padding: .5rem 1.5rem;
    }
}